metadata.json
/TouhouEmblem2.ltproj/metadata.json
TouhouEmblem2.ltproj/resources/custom_components/__pycache__/custom_skill_components.cpython-311.pyc
TouhouEmblem2.ltproj/resources/custom_components/__pycache__/custom_skill_components.cpython-311.pyc
